body {
    background-color:honeydew;
  }
  
  h1 {
    color: forestgreen;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    font-family:"楷体","楷体_GB2312";
    font-size: 35px;
  }
  h2 {
    color: forestgreen;
    margin-left: 40px;
    margin-bottom: 0px;
    font-family:Arial, "楷体","楷体_GB2312";
    font-size: 25px;
  }
  h3 {
    color: forestgreen;
    margin-left: 40px;
    font-family:Arial, "楷体","楷体_GB2312";
    font-size: 20px;
  }
  p {
    font-family:Arial, "楷体","楷体_GB2312";
    font-size: 20px;
    text-indent: 0px;
    line-height: 2.3;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 170px;
  }
  p1 {
    font-family:Arial, "楷体","楷体_GB2312";
    font-size: 20px;
    text-indent: 0px;
    line-height: 2.3;
    margin-left: 400px;
  }
  p2 {
    font-family:Arial, "楷体","楷体_GB2312";
    font-size: 20px;
    text-indent: 0px;
    line-height: 2.3;
    margin-left: 0px;
  }
  ul.a {
    list-style-type: square;
    font-family:Arial, "楷体","楷体_GB2312";
    font-size: 20px;
    line-height: 2.3;
  } 
 
  ul.c {
    list-style-type: circle;
  }
  ol.a {
    list-style-type: lower-alpha;
  }
  ol.b {
    list-style-type: number;
    font-family:Arial, "楷体","楷体_GB2312";
  }
  ol.c {
    list-style-type: upper-roman;
    font-family:Arial, "楷体","楷体_GB2312";
  }
 
  li {
    float: left;
  }
  ul.b {
    list-style-type: none;
    margin: 40px;
    padding: 0;
    overflow: hidden;
    background-color: SeaGreen ;
    font-family:Arial, "楷体","楷体_GB2312";
    font-size: 20px;
  }
  li a {
    display: block;
    color: lightyellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: darkseagreen;
  }
  .active {
    background-color: #4CAF50;
  }